.profile {
  height: 500px;
  width: 350px;
  color: #2c457e;
  background-color: #f1f6f9;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.profile .img {
  background: none;
}

.profile .img img {
  border-radius: 68px;
}
.profile h1 {
  background: none;
  text-align: center;
}
.profile b {
  background: none;
  text-align: center !important;
}
.profile button {
  border: none;
  width: 250px !important;
  height: 45px !important;
  border-radius: 5px;
}
.edit-profile {
  background-color: #9ba4b5 !important;
  color: white;
}

.user {
  display: flex;
  flex-direction: column;
}
.userProfile {
  display: flex;
  justify-content: space-around;
  height: 100%;
}
.userProfile .pagination {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.userProfile .pagination button {
  height: 40px;
  width: 80px;
}
.card {
  height: 180px;
  width: 800px;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
  border: none;
  background-color: #f1f6f9;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
  padding: 10px;
}
.serviceHistory h4 {
  background: none;
  text-align: center;
}
.serviceHistory .detials {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 160px;
}
.detials p {
  background: none;
  font-size: 15px;
  font-weight: 500;
}
.detials {
  width: 400px;
}
.serviceHistory {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.status {
  display: flex;
  align-items: center;
  font-weight: 600;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}

.status a {
  text-decoration: none;
  font-weight: 300;
}
.userProfile button {
  background-color: #2c457e;
  color: white;
}
.serviceHistory .history-filter {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.serviceHistory .history-filter select {
  border: 0.5px solid #212a3e;
  width: 200px;
  height: 30px;
  border-radius: 3px;
}

@media (max-width: 800px) {
  .userProfile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    margin-top: 10px;
  }
  .serviceHistory h4 {
    background: none;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
  }
  .card {
    height: 120px;
    width: 340px;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
    border: none;
    background-color: #f1f6f9;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    padding: 10px;
  }
  .serviceHistory .card .detials {
    width: 250px;
    font-size: 12px;
    height: 100%;
    padding: 0px;
  }
  .status {
    display: flex;
    align-items: center;
    font-weight: 500;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    font-size: 12px;
  }
  .profile {
    height: 380px;
    width: 340px;
    color: #2c457e;
    background-color: #f1f6f9;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  .profile button {
    border: none;
    width: 160px !important;
    height: 25px !important;
    border-radius: 2px;
    font-size: 11px;
    font-weight: 600;
  }
}
