.service-center-home{
    width: 100%;
    display: flex;

}
.service-center-body{
    margin-top: 10px;
    padding: 10px;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.service-center-body .counts{
    font-size: 20px !important;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.service-card-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    height: 100%;
    width:100px;
    margin-left: 0px !important;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    color: #212A3E !important;
}

.service-card{
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
    background:#F1F6F9;
    height: 120px;
    width: 200px;
    display: flex;
    align-items: center;
    padding: 8px;
    color: black;
    border-radius: 12px;
    font-size: 25px;
}

.service-center-body .booking-table{

    width: 90%;
    margin-top: 20px;
    background-color: #F1F6F9;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    padding: 20px;
    justify-content: center ;
    align-items: center ;
    flex-direction: column;
}
.service-center-body .booking-table table{
    margin: 0px !important;
}
.service-center-body  .review-sec .review-and-rating{
    display: flex;
    gap: 10px;
}
.service-center-body .review-and-rating .servicecenter-review{
    margin-top: 0px !important;
    height: 120px;
    width: 300px;
}
.service-center-body .review-sec{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #F1F6F9;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding: 10px;
}
.service-center-body .review-sec h6{
    margin: 0px !important;
}
.service-center-body .booking-table .pagination button{
    background-color:#212A3E  ;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
}

.service-center-body .booking-table .complete{
    color: green;
    font-weight: 600;
}
.service-center-body .booking-table .filter-bookings{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;

}

.service-center-body .booking-table .filter-bookings select{
    border: 1px solid #212A3E;
    width: 200px;
    height: 30px;
    border-radius: 3px;
    gap: 5px;
}
.service-center-body .service-center-graphs{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top:20px;
}
.service-center-body .service-center-graphs .service-monthly-graph{
    width: 45%;
    background-color: #F1F6F9;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
    border-radius: 5px;   
    padding: 10px;
}

.service-center-body .service-center-graphs .service-weekly-graph{
    width: 45%;
    background-color: #F1F6F9;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
    border-radius: 5px;   
    padding: 10px;
}
.service-center-body .service-center-graphs .service-package-graph{
    width: 45%;
    background-color: #F1F6F9;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
    border-radius: 5px;   
    padding: 10px;
}