.nav{
    display: flex !important;
    justify-content: space-between !important;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
}
.detials{
    display: flex;
    width: 300px;
    justify-content: space-around;

}
.logo{
    width:auto !important;
}

.detials button{
    height: 30px;
    width:100px;
    background-color:#212A3E ;
    color:white;
    border-radius: 5px;   
}

.logo h3{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    width:100%;
}

.detials h5{
    font-weight: 500;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
}
         
@media(max-width:800px){
   .nav{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .nav .logo{
    width: 100px;

   }

   .nav .logo h3{
    font-size: 12px;
   }
   .nav .detials{
    width:100px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 20px;
   }

   .nav .detials h5{
    width:50px;
    font-size: 12px;
    font-weight: 550;
    margin-bottom:0px !important;
   }

   .nav .detials button{
    height:25px;
    width:100px;
    font-size: 10px;
    padding: 3px;
   }

}

