.nav{
    display: flex !important;
    justify-content: space-between !important;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
}
.detials{
    display: flex;
    width: 200px;
    justify-content: space-around;

}
.logo{
    width:auto !important;
}

.detials button{
    height: 30px;
    width:100px;
    background-color:#212A3E ;
    color:white;
    border-radius: 5px;   
}

.logo h3{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.detials h5{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}