

*{
    background:none;
}
.serviceCenterSignUp{
    height:100% !important;
   

}

.logos{
    display: flex;
    margin-top: 10px;

    flex-direction: column;
}


.logo,.certificate{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width:100%;
}
