body{
    background-color: #F1F6F9;

}
.admin-home{
    width:100%;
    display: flex;
}

.admin-body{
    padding-left: 20px;
    width: 100%;
    margin-top: 5px;

}

.user-card{
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
    background:#F1F6F9;
    height: 120px;
    width: 200px;
    display: flex;
    align-items: center;
    padding: 8px;
    color: black;
    border-radius: 12px;
    font-size: 25px;
}

.admin-body .counts{
    font-size: 20px !important;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.user-card-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    height: 100%;
    width:100px;
    margin-left: 0px !important;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    color: #212A3E !important;
   
 
}
.user-card .user-card-counts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.admin-home .tables {
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}
.admin-home .tables .user-service-tables{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.admin-home .tables .user-table,.admin-home .tables  .servicecenter-table{
    background-color: #F1F6F9;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
    width: 45%;
    border-radius: 5px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.admin-home .tables .booking-table{
    width: 95%;
    margin-top: 10px;
    background-color: #F1F6F9;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.admin-home .tables table{
    margin-top: 5px !important;

}
.admin-home .tables .booking-table .complete{
    color: green;
    font-weight: 600;
}

.admin-home .tables .booking-table .pagination button{
    background-color:#212A3E  ;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.admin-graphs{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px;

}

.admin-graphs .admin-revenue-graph{
    width: 45%;
    background-color: #F1F6F9;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
    border-radius: 5px;   
    padding: 10px;
}

.admin-graphs .admin-package-graph{
    width: 40%;
    background-color: #F1F6F9;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-right: 40px;
    padding: 10px;
}

 .weekly-graph{
  width:100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.weekly-graph .admin-weekly-graph{
    width: 50%;
    background-color: #F1F6F9;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-right: 40px;
    padding: 10px;
}
.admin-loading{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(5, 5, 5, 0.141);
    display: flex;
    justify-content: center;
    align-items: center;
}