.booking-form{
    display: flex !important;
    flex-direction: column;
    height:600px !important;
    width: 40% !important;
    justify-content: space-around;
    font-size: 19px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.vehicle , .owner, .booking-detials,.time-date,.vehicle-2{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap:10px;
}
.booking-form input{ 
    padding: 5px;
    width: 150px;
    height: 38px;
    border: 1px solid black;
}
.booking-form h4{
    font-weight: 600;
}
.service-booking{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.booking-form h2{
    font-weight: 700;
    font-size: 36px;
}
