.map{
    width: 400px;
    height: 280vh;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(5, 5, 5, 0.141);
    display: flex;
    justify-content: center;
    align-items: center;
}